*, *::after , *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Lato",sans-serif;
    line-height: 1;
    font-weight: 400;
}
/* comom css */
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
button {cursor: pointer;}
input,textarea,button{
    outline: none;
    box-shadow: none;
    font-family: "Lato",sans-serif;
}
/* var */
:root{
    --primarycolor:#64c29e;
    --headingColor:#353738;
    --textColor:#848789;
    --bgLight:#f7f7f7;
    --bgWhite:#ffffff;
    --bgDark:#282f35;
    --inputBorder:#d3d7d9;
    --inputText:#c8c8c8;
}
/* structuure */
.wrapper {
    max-width: 160rem;
    margin: 0 auto;
}
/* header */
.header {
    min-height: 80rem;
    background-image: url("../images/background-header.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.nav {
    margin-top: 3.5rem;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}
/* css tao . trong menu */
.nav__item:first-child::after , .nav__item:nth-child(4)::after
 {
    content: ".";
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
}
.nav__link {
    position: relative;
    display: block;
    color: var(--headingColor);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}
/* end header */
.feature__header {
    background-color: var(--bgLight);
    padding: 11.7rem 1.5rem 14rem;
    text-align: center;
}
.feature__img--top {
    margin: 0 auto 3.5rem;
}
.feature__heading{
    color: var(--headingColor);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 3.5rem;
    letter-spacing: 0.5rem;
}
.feature__header--desc {
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--textColor);
    max-width: 108rem;
    margin: 0 auto;
}
.feature__item {
    display: flex;
    flex-flow: row wrap;
    height: 60rem;
    overflow: hidden; 
}
.fearture__item--img {
    width: 67%;
    position: relative;
}
.feature__item--content {
    width: 33%;
}
.fearture__item--img .img__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fearture__item--img .img__brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.feature__item--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feature__item--content-top {
    background-color: var(--bgWhite);
    padding: 0 7rem;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.feature__item-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--textColor);
    text-align: justify;
    padding-bottom: 4rem;
    position: relative;
}
.feature__item--content-bottom {
    height: 33%;   
}
.feature__item:nth-child(2) .fearture__item--img {
    order: 2;
}
.feature__item:last-child > .fearture__item--img{
    width: 33%;
}
.feature__item:last-child > .feature__item--content {
    width: 34%;
}
.feature__item-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 2px;
    background-color:#d7d7d7;
}
/* css arrow */
.feature__item--content-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-45deg) ;
    width: 2rem;
    height: 2rem;
    background-color:var(--bgWhite);
    z-index: 10;
}
/* tweeter */
.tweet{
    padding: 12.5rem 1.5rem 7rem;
    background-color: var(--bgLight);
    text-align: center;
}
.tweet__icon {
    font-size: 4rem;
    color:#56c7ee;
    margin-bottom: 3.5rem;
}
.tweet-heading {
    font-size: 18px;
    margin-bottom: 3rem;
}
.tweet__location ,.tweet__author{
    color: var(--headingColor);
    font-weight: bold;
}
.tweet__author {
    margin-left: 1.5rem;
}
.tweet__time {
    color: var(--textColor);
    font-weight: 300;
    margin-left:1.5rem;
    padding-left: 1.5rem;
    position: relative;
}
.tweet__time::before {
    content: "/";  
    position: absolute;
    top: 5;
    left: 0;
}
.tweet__content {
    font-size: 2.4rem;
    line-height: 1.4;
    color: var(--textColor);
    font-style: italic;
    max-width: 104.5rem;
    margin: 0 auto 10.3rem;
}
.tweet__pagi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tweet__pagi--item {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: thin solid var(--textColor);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.tweet__pagi--item.is__active {
    background-color:var(--textColor) ;
}
/* galleries */
.galleries {
    display: flex;
    justify-content: space-between;
    height: 53.5rem;
    overflow: hidden;
}
.galleries__block {
    width: 33.33%;
    height: 100%;
    display: flex;
}
.galleries__block:first-child {
    flex-direction: column;
}
.galleries__block--item {
    height: 50%;
    width: 100%;
}
.galleries__block--item:first-of-type {
    display:flex;
}
.galleries__item {
    position: relative;
    width: 50%;
    height: 100%;
}
.galleries__block--item:last-of-type .galleries__item {
    width: 100%;
}
.galleries__block:last-child {
    flex-direction: column-reverse;
}
.galleries__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #71ba9e;
    z-index: 10;
    display: none;
}
.galleries__item--bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galleries__item--brand {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    text-align: center;
    display: none;
}
.galleries__item--brand > img {
    margin: 0 auto;
}
.galleries__item--text {
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}
.galleries__item:hover::before, .galleries__item:hover 
.galleries__item--brand {
    display: block;
    opacity: 0.8;
}
/* discovery */
.discovery {
    background-color: var(--bgDark);
    text-align: center;
    padding: 7.4rem 1.5rem;
}
.discovery__button {
    display: inline-block;
    min-width: 30rem;
    padding: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    border: thin solid #94979a;
    box-shadow: none;
    outline: none;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
}
.discovery__button:hover {
    background-color: #74bd9f;
    border-color: #74bd9f;
}
/* mail */
.mail {
    padding: 11.5rem 1.5rem;
    background-color: var(--bgLight);
    text-align: center;
}
.mail__logo {
    margin:  0 auto 5.5rem;
    display: block;
}
.mail__text {
    font-size: 2.4rem;
    font-style: italic;
    color: var(--textColor);
    display: inline-block;
    margin-bottom: 3.5rem;
}
.mail__form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 53.4rem;
}
.mail__form--input {
    border: thin solid var(--inputBorder);
    color: var(--inputText);
    font-style: italic;
    font-size: 2rem;
    padding: 2.5rem;
    width: 75%;
}
.mail__form--input::placeholder {
    color: #cccccc;
}
.mail__form--button {
    border: 0;
    color: #ffffff;
    background-color: var(--primarycolor);
    font-size: 2.4rem;
    font-weight: 300;
    width: 25%;
    margin-left: 1rem;
}
